.gameSetup {
    overflow-y: auto!important;
}

.player-item {
    display: flex;
    height: 60px;
    font-size: 35px;
    justify-content: space-between; /* Щоб кнопка була праворуч */
}

.player-item button {
    background-color: darkred;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    min-width: auto !important;
    min-height: auto !important;
    width: 40px;    /* квадратна кнопка */
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 20px;
    line-height: 1;
    user-select: none;
    padding: 0;
    margin: 0;
}

/* Списки гравців */
ul {
    list-style: none;
    padding: 0;
    max-height: 30vh!important;
    overflow-y: auto;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    background: #f1f5f9;
}

ul li {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 1px solid #cbd5e1;
    font-weight: 600;
    color: #1e293b;
}

ul li:last-child {
    border-bottom: none;
}
